<html lang="en">
<head>
<title>form</title>
</head>
<body>
<form action="save" method="post">
<table>
<h1>WELCOME CONSUMER.!!</h1>
<tr>
<td><label for="failed-product">Failed Product</label></td>
<td><label for="failed-product">Failed Product</label></td>
</tr>
<tr>
<td><label for="reason">Reason</label></td>
<td><input type="text" name="reason"></input></td>
</tr>
<tr>
<td><label for="modify-id">Modify ID</label></td>
<td><input type="text" name="modify-id"></input></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Submit"></input></td>
</tr>
</table>
</form>
</body>
</html>

